{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}

<br>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
    {%endfor%}
    {%endif%}
</div>
<br>
<div class="section-1-container section-container">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="loader" style="display:none">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-10 col-md-8 col-lg-6">
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <br>
                    <button type="submit" class="btn btn-primary float-right"
                        style="background-color: #99C68E; border-color: #99C68E" onclick=" showLoader() ">Submit
                        sequence</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function showLoader() {
        document.getElementById("loader").style = "inline";
    }
</script>
{% endblock %}