{% extends 'base.html' %}

{% load bootstrap4 %}

{% block content %}

<br>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
    {%endfor%}
    {%endif%}
</div>
<br>
<div class="section-1-container section-container">
    <div class="container">
        <div class="row justify-content-center align-items-center">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Identifier</th>
                        <th scope="col">Species</th>
                        <th scope="col">Type</th>
                        <th scope="col">Date Added</th>
                        <th scope="col">Times aligned</th>
                        <th scope="col">Aligned with</th>
                        <th scope="col">Latest alignment date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sequence in library %}
                    <tr>
                        <th scope="row">{{sequence.uniqueIdentifier}} </th>
                        <td>{{sequence.species}}</td>
                        <td>{{sequence.nametype}}</td>
                        <td>{{sequence.dateadded}}</td>
                        <td>{{sequence.alignment_number}}</td>
                        {% if sequence.latest_aligned_with == "" %}
                        <td> None yet </td>
                        {% else %}
                        <td>{{sequence.latest_aligned_with}}</td>
                        {% endif %}
                        <td>{{sequence.latest_alignment_date}}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}